{% extends 'Tweet/base.html' %}
{% block content %}



<style>
h1
{
	font-weight:bold;
	color:white;
	font-size:50px;
	margin-left:3%;
}
h3
{

	color:white;
	font-weight:bold;
}
p{
	over-flow:none;
}
h2
{
	color:white;
	font-weight:bold;
}
</style>
<div>
	<legend><h2 style="font-weight:bold;"><a href="{% url 'tweet' %}">Tweet</a></h2></legend>
	{% for obj in object_list %}
	<div style="padding-left:0px;padding-bottom:10vh; display:grid;">
		<table border="4" >
			<tr><td>

	<h4><a href="{%url 'profile' %}">{{ obj.author }}</a></h4>
	   <a href="tweet/{{obj.id}}" style="font-weight:bold;"> title:{{obj.title}}</a>

	<p>content:{{ obj.content }}</p>
	<h5 style="color:red;">posted on{{obj.timestamp}}</h5>
</td></tr>
</fieldset>
</table>
</div>
	{% endfor %}
</div>

	
</div>
	 




{% endblock %}
