{% extends 'Tweet/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<body class=""
  data-admin-utc-offset="0">

<!-- Container -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="{% url 'password_reset' %}">passwordreset</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    <div class="content-section" >
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-6" style="color:white;">passwordreset</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">changepassword</button>
          </div>
      </form>
      </div>
    
    

    
        
    

    <!-- Content -->
    
      

</body>
{% endblock %}